<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Sistema <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link"  routerLink="listar-usuario">Listar usuarios</a>
        <a class="nav-item nav-link"  routerLink="agregar-usuario">Agregar usuarios</a>
    </div>
</nav>
<div class="conatiner">
    Contenido 
    <router-outlet></router-outlet> <!--Espacio donde se muestra el contenido del componente-->
    
</div>